@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply text-card-text font-jost m-0 min-h-screen flex items-center justify-center p-4 sm:p-6;
    background-image: url(https://i.pinimg.com/originals/09/23/8b/09238b9751842690254d07bf36b432b3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

@layer components {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
